  <div class="bg-white py-6 sm:py-8 lg:py-12">

    <div class="mx-auto px-4 md:px-8">
        <h1 style="color:#022540" class="mb-10 text-center text-2xl font-bold text-gray-800 sm:text-4xl">Toritateya</h1>
        <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">
            Toritateyaは、お金の貸し借りを記録し、返済の催促をするサービスです。<br /><br />
    
            お金を貸したときの『口約束じゃ不安...』『早く返済して欲しいけど、言いにくい...』『いくら返済してもらったか忘れた...』といった悩みを無くしたい！そんなコンセプトで作られました。
        </p>
    
        <h2 class="mb-4 text-xl font-semibold text-gray-800 sm:text-2xl md:mb-4">貸し借りの記録機能</h2>
        <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">ログインすることで、貸した側、借りた側の金額を記録することができます。</p>

    <div class="mx-auto max-w-screen-xl px-4 md:px-8 mt-20">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <%= image_tag "貸し一覧画面.png", alt: "貸し一覧画面", class: "h-full w-full object-cover object-center" %>
          </div>
        </div>
  
        <div class="md:pt-2">
          <p class="text-center font-bold text-indigo-500 md:text-left">貸したお金を見る</p>
  
          <h3 class="mb-2 text-xl font-semibold text-gray-800 sm:text-xl md:mb-4">貸し一覧</h3>  
          <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">
            貸した相手や、期限、返済残高などを確認できます。<br /><br />
          </p>
        </div>
      </div>
    </div>

    <div class="mx-auto max-w-screen-xl px-4 md:px-8 mt-20">
        <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
          <div class="md:pt-2">
            <p class="text-center font-bold text-indigo-500 md:text-left">貸したお金を登録</p>
            <h3 class="mb-2 text-xl font-semibold text-gray-800 sm:text-xl md:mb-4">新しく取り立てる</h3>  
            <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">
                新たに取り立てる場合には、サインアップが完了している相手のメールアドレスを入力することで取り立てることができます。また、本当に貸したかどうかを承認する機能がついており、承認用のメールが相手に自動送信されます。<br /><br />  
            </p>
          </div>

          <div>
            <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
              <%= image_tag "新しく取り立てる画面.png", alt: "新しく取り立てる画面", class: "h-full w-full object-cover object-center" %>
            </div>
          </div>
        </div>
    </div>

    <div class="mx-auto max-w-screen-xl px-4 md:px-8 mt-20">
        <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
          <div>
            <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
              <%= image_tag "借り一覧画面.png", alt: "借り一覧画面", class: "h-full w-full object-cover object-center" %>
            </div>
          </div>
    
          <div class="md:pt-2">
            <p class="text-center font-bold text-indigo-500 md:text-left">貸りたお金を見る</p>
    
            <h3 class="mb-2 text-xl font-semibold text-gray-800 sm:text-xl md:mb-4">借り一覧</h3>  
            <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">
                借りた相手や、期限、返済残高などを確認できます。<br /><br />  
            </p>
          </div>
        </div>
      </div>

      <div class="mx-auto max-w-screen-xl px-4 md:px-8 mt-20">
        <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
          <div class="md:pt-2">
            <p class="text-center font-bold text-indigo-500 md:text-left">返済したお金を登録</p>
            <h3 class="mb-2 text-xl font-semibold text-gray-800 sm:text-xl md:mb-4">新規返済</h3>  
            <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">
                返済を記録する場合には、『返済する』ボタンから返済金額を入力します。これにも承認機能がついているので、相手に承認してもらうことで返済することが可能です。<br /><br />  
            </p>
          </div>

          <div>
            <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
              <%= image_tag "返済画面.png", alt: "返済画面", class: "h-full w-full object-cover object-center" %>
            </div>
          </div>
        </div>
    </div>

    <h2 class="mt-20 mb-4 text-xl font-semibold text-gray-800 sm:text-2xl md:mb-4">キャラクターによる催促機能</h2>
    <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">返済を催促するのは気が引けるかもしれません。そんなあなたに代わって、Toritateyaのキャラクターたちが返済の催促をしてくれます。返済期限の3日前には、可愛い猫が現れて優しく返済を促してくれます。しかし、期限を過ぎてしまうと虎に変わり催促します。</p>
  </div>