  <div class="bg-white py-6 sm:py-8 lg:py-12">

    <div class="mx-auto max-w-screen-md px-4 md:px-8">
        <h1 class="mb-10 text-center text-2xl font-bold text-gray-800 sm:text-4xl md:mb-6">とりたてや</h1>
    
        <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">
            とりたてやは、お金の貸し借りを記録し、返済の催促をするサービスです。<br /><br />
    
            お金を貸したときの『口約束じゃ不安...』『早く返済して欲しいけど、言いにくい...』『いくら返済してもらったか忘れた...』といった悩みを無くしたい！そんなコンセプトで作られました。
        </p>
    
        <h2 class="mb-4 text-xl font-semibold text-gray-800 sm:text-2xl md:mb-4">貸し借りの記録機能</h2>
        <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">ログインすることで、貸した側、借りた側の金額を記録することができます。</p>

    <div class="mx-auto max-w-screen-xl px-4 md:px-8 mt-20">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <img src="https://images.unsplash.com/photo-1610465299996-30f240ac2b1c?auto=format&q=75&fit=crop&w=600&h=750" loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
          <p class="text-center font-bold text-indigo-500 md:text-left">貸したお金を登録</p>
  
          <h3 class="mb-2 text-xl font-semibold text-gray-800 sm:text-xl md:mb-4">貸し一覧</h3>  
          <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">
            This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated. It may be used to display a sample of fonts or generate text for testing. Filler text is dummy text which has no meaning however looks very similar to real text.<br /><br />
  
            This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is <a href="#" class="text-indigo-500 underline transition duration-100 hover:text-indigo-600 active:text-indigo-700">random</a> or otherwise generated. It may be used to display a sample of fonts or generate text for testing. Filler text is dummy text which has no meaning however looks very similar to real text.
          </p>
  
          <h2 class="mb-2 text-center text-xl font-semibold text-gray-800 sm:text-2xl md:mb-4 md:text-left">About us</h2>
  
          <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated. It may be used to display a sample of fonts or generate text for testing. Filler text is dummy text which has no meaning however looks very similar to real text.</p>
        </div>
      </div>
    </div>

    <ul class="mb-6 list-inside list-disc text-gray-500 sm:text-lg md:mb-8">
        <li>This is a section of some simple filler text</li>
        <li>Also known as placeholder text</li>
        <li>It shares some characteristics of a real written text</li>
      </ul>
  
      <blockquote class="mb-6 border-l-4 pl-4 italic text-gray-500 sm:text-lg md:mb-8 md:pl-6">“This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.”</blockquote>
  

      <div class="relative mb-6 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:mb-8">
        <img src="https://images.unsplash.com/photo-1593508512255-86ab42a8e620?auto=format&q=75&fit=crop&w=600&h=350" loading="lazy" alt="Photo by Minh Pham" class="h-full w-full object-cover object-center" />
      </div>
  
      <h2 class="mb-2 text-xl font-semibold text-gray-800 sm:text-2xl md:mb-4">Features</h2>
  
      <p class="text-gray-500 sm:text-lg">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated. It may be used to display a sample of fonts or generate text for testing. Filler text is dummy text which has no meaning however looks very similar to real text.</p>
    </div>
  </div>